/*
* @Author: Administrator
* @Date:   2018-07-08 09:36:50
* @Last Modified by:   Administrator
* @Last Modified time: 2018-07-08 10:45:53
*/
body{
	background-color: #f6f6f6;
}
*{
	margin: 0;
	padding: 0;
	list-style: none;
}
/* 标题栏 */
	.article-title{
		position: relative;
	}
	.article-title .dropdown button{
		display: inline-block;
		position: absolute;
		top: 0;
		left: 0;
		height: 46px;
		width: 85px;
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
		font-size: 18px;
	}
	.article-title .title{
		width: 100%;
		height: 46px;
		padding-left: 105px;
		border-radius: 5px;
		border: 1px solid #cccccc;
		margin-bottom: 20px;
		font-size: 18px;
	}
	.article-title .dropdown-menu{
		top: 45px;
	}

/* 标签*/
	.column .dropdown{
		padding-left: 0px;
		padding-right: 0px;
	}
	.column .dropdown button{
		width: 100%;
		text-align: left;
	}
	.search_con {
		display: inline-block;
		position: relative;
		margin-bottom: 20px;
		padding-left: 30px;
		padding-right: 0px;
		height: 34px;
	}
	.search_con .search_key .texts{
		width: 100%;
		height: 34px;
		padding-left: 5px;
		border-radius: 5px;
		border: 1px solid #ccc;
	}
	.search_con .search_key .key_words{
		width: 520px;
		padding: 15px;
		font-size: 14px;
		background: white;
		box-shadow: 0px 6px 12px 0px rgba(0,0,0,0.18);
		border-radius: 5px;
		position: absolute;
		z-index: 1;
		top: 34px;
		display: none;
	}
/* 点击标签框，显示出来的search_words */
	.search_con .key_words .ultop{
		overflow: hidden;
	}
	.search_con .key_words .ultop li a{
		float: left;
		color: #666666;
		text-decoration: none;
		padding: 1px 4px;
		margin-right: 8px;
		cursor: pointer;
		border-radius: 3px;
	}
	.search_con .key_words .ultop li.current a{
		background: #009a61;
		color: white;
	}
	.search_con .key_words .ultop li a:hover{
		background: #eeeeee;
	}
	.search_con .key_words .ultop li.current a:hover{
		background: #009a61;
	}
	/* ulcon */
		.search_con .key_words .ulcon{
			overflow: hidden;
			margin-bottom: 0px;
			display: none;
		}
		.search_con .key_words .ulcon li{
			background: #ebf5f3;
			float: left;
			margin-right: 5px;
			margin-bottom: 5px;
			border-radius: 10px;
			cursor: pointer;
		}
		.search_con .key_words .ulcon li a{
			color: #017e66;
			text-decoration: none;
			padding: 2px 10px;
		}
		.search_con .key_words .ulcon li img{
			width: 15px;
			height: 15px;
			display: inline-block;
			float: left;
			margin: 3px -3px 2px 10px;
		}
		.search_con .key_words .current_ul{
			display: block;
		}

/* 输入问题框 */
	.input-question{
		width: 100%;
		background-color: #fff;
		border-radius: 3px;
		border: 1px solid #ccc;
	}
	/* 工具框 */
		.input-question .tools{
			width: 100%;
			height: 31px;
			border-bottom: 1px solid #ccc;
			padding-left: 10px;
			padding-right: 10px;
		}
		.input-question .tools ul.tools-left{
			float: left;
			margin: 0 0;
		}
		.input-question .tools ul.tools-right{
			float: right;
			margin: 0 0;
		}
		.input-question .tools ul li{
			float: left;
			margin-right: 5px;
			height: 31px;
		}
		.input-question .tools ul li.solid{
			border-left: 1px solid #eee;
			height: 20px;
			margin-top: 5px;
		}
		.input-question .tools ul li a{
			text-align: center;
			display: inline-block;
			width: 20px;
			height: 20px;
			border: 5px solid #fff;
			line-height: 20px;
			background-color: darkgoldenrod;
			background: url('../images/editor.png');
			box-sizing: content-box;
			background-size: 380px 60px;
		}
		.input-question .tools ul li a:hover{
			background-color: rgb(246, 246, 246);
			border-color: rgb(246, 246, 246);
		}
		.input-question .tools ul.tools-left li:nth-child(1) a{
			background-position: 0 0;
		}
		.input-question .tools ul.tools-left li:nth-child(2) a{
			background-position: -20px 0;
		}
		.input-question .tools ul.tools-left li:nth-child(4) a{
			background-position: -40px 0;
		}
		.input-question .tools ul.tools-left li:nth-child(5) a{
			background-position: -60px 0;
		}
		.input-question .tools ul.tools-left li:nth-child(6) a{
			background-position: -80px 0;
		}
		.input-question .tools ul.tools-left li:nth-child(7) a{
			background-position: -100px 0;
		}
		.input-question .tools ul.tools-left li:nth-child(9) a{
			background-position: -120px 0;
		}
		.input-question .tools ul.tools-left li:nth-child(10) a{
			background-position: -140px 0;
		}
		.input-question .tools ul.tools-left li:nth-child(11) a{
			background-position: -160px 0;
		}
		.input-question .tools ul.tools-left li:nth-child(12) a{
			background-position: -180px 0;
		}
		.input-question .tools ul.tools-left li:nth-child(14) a{
			background-position: -200px -20px;
		}
		.input-question .tools ul.tools-left li:nth-child(15) a{
			background-position: -220px -20px;
		}
		.input-question .tools ul.tools-left li:nth-child(17) a{
			background-position: -300px 0;
		}
		.input-question .tools ul.tools-right li:nth-child(1) a{
			background-position: -240px 0;
		}
		.input-question .tools ul.tools-right li:nth-child(3) a{
			background-position: -320px 0;
		}
		.input-question .tools ul.tools-right li:nth-child(4) a{
			background-position: -340px -20px;
 				background-color: #f6f6f6;
			border-color: #f6f6f6;
			cursor: default;
		}
		.input-question .tools ul.tools-right li:nth-child(5) a{
			background-position: -360px 0;
		}
	/* 左边输入框 */
		.input-left {
			float: left;
			width: 50%;
			height: 320px;
			border-right: 1px solid #ccc;
		}
		.input-right {
			float: right;
			width: 50%;
			height: 320px;
			background-color: #F6F6F6;
		}
		.input-left textarea{
			padding: 10px;
			width:100%;
			max-width:100%; 
			height:320px;
			min-height:320px;
			resize: none;
			font-size: 14px;
			color: #A6A6A6;
			border: 0;
		}

/* 发布问题 */
	.comfire{
		width: 100%;
		height: 54px;
		position: fixed;
		bottom: 0;
		left: 0;
		border-top: 1px solid #ccc;
		background-color: #F3F3F3;
	}
	.comfire .container div:nth-child(1){
		float: left;
	}
	.comfire .container div:nth-child(1) label{
		margin-top: 17px;
		margin-right: 15px;
	}
	.comfire .container div:nth-child(1) label input{
		/* height: 20px; */
		float: left;
		margin-right: 8px;
	}
	.comfire .container div:nth-child(2){
		float: right;
	}
	.comfire .container div:nth-child(2) button{
		height: 34px;
		margin-top: 10px;
		color: #fff;
		background-color: #009a61;
		border: 0;
		padding: 6px 12px;
		font-size: 14px;
		line-height: 1.42858;
		border-radius: 4px;
	}
	.comfire .container div:nth-child(2) button:hover{
		color: #fff;
		background-color: #006741;
		border-color: #00432a;
	}


@media (min-width: 1600px){
	.container {
	    width: 1600px;
	    padding-left: 30px;
	    padding-right: 30px;
	    position: relative;
	}
}
@media (max-width: 1600px){
	.container {
	    width: 100%;
	}
}
@media (max-width: 992px){
	.input-left {
	    width: 100%;
	    border: 0;
	}
	.search_con {
		padding-left: 0;
	}
}