/*
* @Author: admin
* @Date:   2018-06-28 09:54:07
* @Last Modified by:   Administrator
* @Last Modified time: 2018-07-06 00:37:33
*/
/* footer */
html {
    font-size: 62.5% !important;
}
@media (max-width: 1200px) {
     html {
        font-size: 60%!important;
    }
}
@media (max-width: 768px) {
     html {
        font-size: 50%!important;
    }
}
@media (max-width: 360px) {
     html {
        font-size: 48%!important;
    }
}
@media (max-width: 320px) {
     html {
        font-size: 45%!important;
    }
}
body{
    font-family: -apple-system,"Helvetica Neue",Helvetica,Arial,"PingFang SC","Hiragino Sans GB","WenQuanYi Micro Hei","Microsoft Yahei",sans-serif;
}
/* 绿色的广告 */
.aq_banner{
	width: 100%;
	background-color: #009a61;
	position: relative;
    border-bottom: 1px solid #ddd;
}
.aq_banner_main{
	height: 185px;
	background: url('../images/banner-bg.svg') no-repeat right -20px;
}
.aq_banner_main h2{
	margin-top: 50px;
}
.aq_banner_main h2,.aq_banner_main h4{
	color: white;
}
.aq_banner_button{
	margin-top: 60px;
}
.aq_banner_button button{
	width: 100px;
	height: 40px;
    margin-bottom: 10px;
    border-radius: 4px;
    outline: none;
    margin-right: 20px;
}
.aq_banner_register{
	background: #fff;
    color: #009a61;
    border: 1px solid transparent;
}
.aq_banner_register:hover{
    border-color: #00432a;
}
.aq_banner_login{
	color: #fff;
    background-color: #009a61;
    border: 1px solid white;
}
.aq_banner_login:hover{
	background-color: #006741;
}
.aq_close{
    width: 16px;
    height: 16px;
    border-radius: 50%;
    color: #009a61;
    background: rgba(255, 255, 255, 0.3);
    position: absolute;
    top: 15px;
    font-size: 1.4rem;
    right: 10px;
    text-align: center;
    cursor: pointer;
    line-height: 15px;
}
/* 订阅 */
.aq_book{
    text-align: right;
    margin-bottom: 20px;
}
.aq_book img{
    display: inline-block;
}
.aq_book a{
    display: inline-block;
    margin-left: 3px;
    font-size: 1.5rem;
    position: relative;
    top: 2px;
    color: #999;
    margin-right: 10px;
}
/* 回到顶部样式 */
.col_return_top{
	width: 35px;
	background: white;
	padding: 10px 8px;
	color: #666;
	border:1px solid #ddd;
	vertical-align: center;
	position: fixed;
	bottom: 50px;
	right: 30px;
	cursor: pointer;
	display: none;
}
/* footer响应式布局 */
@media (max-width:1200px){
	.lec_ul ul{
		padding-left: 7px;
	}
}
@media (max-width:768px){
	.lec_footer .lec_footer_list,.aq_book{
		display: none;
	}
	.lec_copy{
		margin-top: 20px;
	}
}
