/*
* @Author: Administrator
* @Date:   2018-07-08 19:48:19
* @Last Modified by:   Administrator
* @Last Modified time: 2018-07-08 22:41:33
*/
a{
	color: #009a61;
	text-decoration: none;
}

/* 左边导航栏 */
	.set{
		padding-left: 0;
	}
	.set ul{
		width: 100%;
		border: 1px solid #ddd;
		border-radius: 4px;
		margin-bottom: 40px;
	}
	.set ul li a{
		display: inline-block;
		height: 38px;
		width: 100%;
		padding: 8px 12px;
		background-color: #fff;
		border-bottom: 1px solid #ddd;
		border-top-right-radius: 4px;
		border-top-left-radius: 4px;
		color: #555;
	}
	.set ul li:hover a{
		text-decoration: none;
		background-color: #f5f5f5;
	}
	.set ul li:last-child a{
		border: 0;
		border-bottom-right-radius: 4px;
		border-bottom-left-radius: 4px;
	}
	.set ul li a.current{
		background-color: #009a61;
		color:#fff;
		font-weight: bold;
	}
	.set ul li a i{
		line-height: 20px;
		font-size: 12px;
		color: #999;
		float: right;
	}

/* 右边内容 */
.personal{

}
.personal .myInfo-title h2{
	padding-bottom: 15px;
	border-bottom: 2px solid #ccc;
}
.myInfo{
	margin-top: 30px;
	margin-bottom: 30px;
}
.myInfo>p,.myInfo-more>p{
	font-size: 18px;
	margin-bottom: 15px;
}
.myInfo>.table tr td{
	height: 24px;
	line-height: 24px;
	color: #666;
}
.table tr:last-child{
	border-bottom: 1px solid #ddd;
}
@media (max-width: 992px) {
	.myInfo .table tr td>a{
		float: right;
	}
}
/* 第三方账号 */
.myInfo-more{
	margin-bottom: 50px;
}
.myInfo-more .table tr td{
	height: 28px;
	line-height: 28px;
	color: #666;
}
.myInfo-more .table tr td>span{
	display: inline-block;
	width: 28px;
	height: 28px;
	background: url('../images/icon-sn.svg') no-repeat;
	background-position: 0px -28px;
	margin-right: 5px;
	float: left;
}
.myInfo-more .table tr:nth-child(2) td>span{
	background-position: -28px -28px;
}
.myInfo-more .table tr:nth-child(3) td>span{
	background-position: -56px -28px;
}
.myInfo-more .table tr:nth-child(4) td>span{
	background-position: -84px -28px;
}
.myInfo-more .table tr:nth-child(5) td>span{
	background-position: -252px -28px;
}
.myInfo-more .table tr:nth-child(6) td>span{
	background-position: -336px -28px;
}
.myInfo-more .table tr:nth-child(7) td>span{
	background-position: -112px -28px;
}
.myInfo-more .table tr:nth-child(8) td>span{
	background-position: -140px -28px;
}
.myInfo-more .table tr:nth-child(9) td>span{
	background-position: -224px -28px;
}












